<h1>Create a new article</h1>

<!-- Gather the input (:title and :description) in the form with the scope named :article,-->
<!-- then reload (local) the page at link `/articles` -->
<%= form_with scope: :article, url:articles_path, local: true do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>